<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Frontend em Python com Brython</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.9.5/brython.min.js"></script>
</head>
<body onload="brython()">

    <h1>Olá, Brython!</h1>
    <p id="message"></p>

    <button onclick="hello()">Clique para rodar Python no Frontend</button>

    <script type="text/python">
        from browser import document, ajax

        def hello():
            
            document["message"].text = "Você rodou Python no Frontend!"
            
           
            req = ajax.ajax()
            req.open('GET', '/get_data', True)

            def on_complete(req):
                if req.status == 200:
                    document["message"].text = f"Resposta do backend: {req.text}"

            req.bind('complete', on_complete)
            req.send()

    </script>

</body>
</html>
