{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="content-header">
    <h1 class="m-0">Dashboard</h1>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Novo Cadastro</p>
                    </div>
                </div>
            </div>
            <!-- Outros Cards -->
        </div>
    </div>
</div>
{% endblock %}